{# afrekenen.twig #}
{% extends 'BaseLayout.template.twig' %}
{% set page='afrekenen' %}
{% block content %}
    <div class="container">
        <div class="col-sm-6">
            <h2 class="pizzahead">Uw gekozen producten</h2>
            <ul class="pizzalijst">
                {% for item in cartItems %}
                    <li class="pizzalijst">{{ item[1] }} x {{ item[0].naam }} - {{ item[2] }} &euro; 
                        &nbsp;
                        <a class="delete" href="updatecart.php?action=remove&pizza={{ item[0].id }}">
                            Verwijder</a>
                {% endfor %}
                <li> Totaal : {{ totaal }} &euro;
            </ul>
    </div>
    <div class="col-sm-6">
    {% if klant %}
        <h2 class="pizzahead"> Uw Gegevens :</h2>
        <p> Naam : {{ klant.voornaam }} {{ klant.naam }}<br />
            Adres : {{ klant.straat }} {{ klant.nr }} {% if klant.bus %} Bus {{ klant.bus }} {% endif %}<br />
            Gemeente : {{ klant.plaats.postcode }} {{ klant.plaats.gemeente }}<br />
            Tel.: 0{{ klant.telefoonnr }}<br />
            
        </p>
        <a href="plaatsbestelling.php"><button class="btn pizza-btn pull-left">Bevestigen</button></a>
        
        <br>
        &nbsp;
        <br>
        {% else %}
            {% if option == 'login' %}
                <br><br>
                {% include 'loginform.html.twig' %}
                <br><br>
                {% elseif option == 'new' %}
                    {% include 'form.html.twig' %}
                    {% else %}
            <h2 class="pizzahead"> Maak uw keuze </h2>
            <a href="index.php?page=afrekenen&option=login"> Ik heb een account </a><br />
            <a href="index.php?page=afrekenen&option=new"> Ik heb geen account </a><br />

            {% endif %}
    {% endif %}
    <p>&nbsp;</p>
    </div>
    </div>
{% endblock %}
