{# gastenboek.twig #}
{% extends 'BaseLayout.template.twig' %}
{% block content %}
    <div class="container">
        <section id="gastenboek" class="col-xs-8 col-xs-offset-2">
        <div class="gb-items">
            {% for item in gblijst %}
                
                <div class="row">op {{item.datum|date('d M Y - H:m')}} schreef {{ item.naam }}</div>
                <div class="row">{{item.boodschap}}</div>
                
            {% endfor %}
        </div>
        
            <form class="pizzaform" role="gastenboek" action="actie.php" method="post">
                <div class="form-group">
                    <label class="control-label" for="naam"></label>
                    <input type="text" class="form-control" id="naam" name="naam" placeholder="Jan Janssens" 
                           {% if login %}value="{{login.klant.naam}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mail"></label>
                        <input type="e-mail" class="form-control" name="mail" id="mail" placeholder="Jan.Janssens@mail.be"
                               {% if login %} value="{{login.klant.mail}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label class="control-label" for="boodschap"></label>
                    <textarea rows="10" cols="100" class="form-control" name="boodschap" id="boodschap" placeholder="Uw boodschap"></textarea>
                </div>
                {% if success == "contact" %}
                    <span class="label label-success">Bedankt voor uw feedback</span>
                    {% endif %}
                {%if error == "contact" %}
                <span class="label label-danger">Er ging iets mis, controleer of u alle velden wel correct hebt ingevuld</span>
                {% endif %}
                <input type="hidden" name="page" id="page" value="gastenboek">
                <input type="submit" class="btn pizza-btn" value="Verzenden">
            </form>
        </section>
    </div>
{% endblock %}
