{# pizzas.twig #}
{% extends 'BaseLayout.template.twig' %}
{% block content %}
<div class='container'>
    <section class='producten'>
    <h1 class="pizzahead text-center">Menukaart</h1>
    <p>&nbsp;</p>
    <div class="col-md-6">
        <ul>

    {% for item in lijst %}
        <li class="pizzalijst">
           
            <h2 class="pizzahead">{{ item["naam"] }}{% if item["promo"] == 1 %} <span class="label label-success"><strong> PROMO </strong></span>
                {% endif %}</h2>
            
            
            <p class="ingredients">
                {% for key, value in item["samenstelling"] %}
                    {% for ingredient in value %}
                        {{ ingredient.i_naam }}{% if not loop.last %} , {% endif %}
                    {% endfor %}
                {% endfor %}
         
                
            <form action="updatecart.php?action=add" method="post">
                <input type="hidden" name="pizza" id="pizza" value="{{ item["id"] }}">
                <input type="hidden" name="prijs" id="prijs" value="{{ item["prijs"]}}">
               
{#                <a href="updatecart.php?action=add&pizza={{ item["id"] }}">#}
                <button class="btn pizza-btn" action="submit">{{ item["prijs"]}}&euro;</button>
            </form>
                </a>

            </p>
        </li>
    {% endfor %}
    <ul>
    </div>
    <aside class="col-sm-6 pull-right cartItems">
    {% include 'cartItems.template.twig' %}
    </aside>
    </section>
</div>
{% endblock content %}